/* Override IMDb CSS */
[data-testid='hero-rating-bar__aggregate-rating'] {
  position: relative;
}

/* Yassified rating CSS */
.yassified-rating {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: calc(100% + 1rem);
  top: 1px;
  padding: 0.5rem 0.8rem;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  width: 90px;
  height: 66px;
  text-decoration: none;
  transition: all 0.15s linear;
}

.yassified-rating:hover {
  background-color: rgba(64, 64, 64, 1);
}

.yassified-rating__number {
  color: #fff;
  min-width: 24px;
  text-align: center;
  display: inline-block;
}

.yassified-rating__small {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.7);
}

/* Icons */
.yassified-icon__male,
.yassified-icon__female {
  width: 11px;
  margin-right: 0.5rem;
  color: #fff;
}

.yassified-icon__male {
  fill: darkturquoise;
}

.yassified-icon__female {
  fill: hotpink;
}
